@model AplicatieMDS.Models.Message

@{
    var currentUserId = ViewBag.CurrentUserId as string;
    var isCurrentUser = Model.UserId == currentUserId;
    var alignmentClass = isCurrentUser ? "text-end justify-content-end" : "text-start";
    var messageClass = isCurrentUser ? "bg-primary text-white align-self-end" : "bg-light text-dark align-self-start"; // Aliniază mesajele la dreapta sau la stânga
}

<div class="container message my-2" style="min-width:100%;" data-message-id="@Model.Id">
    <div class="row" style="min-width:100%;">
        <div class="d-flex flex-column @(alignmentClass)" style="max-width: 100%;">
            <div class="d-flex flex-column max-width:50%;">
                <div class="d-flex @(alignmentClass) align-items-center w-100">
                    <strong><i class="bi bi-person"></i> @(Model.User?.UserName ?? "Unknown User")</strong>
                    <small class="" style="margin-left:5px;">@Model.Date.ToString("g")</small> <!-- Formatul general pentru afișarea datei și orei -->
                </div>
                <p class="p-2 @(messageClass)" style="max-width:50%; border-radius: 10px;">
                    @using System.Text.RegularExpressions
                    @{
                        var content = Model.Content ?? string.Empty;
                    }

                    @if (content.Contains(".jpeg") || content.Contains(".jpg") || content.Contains(".gif") || content.Contains(".png") || content.Contains(".JPG"))
                    {
                        <img src="@content" alt="Imagine încorporată" class="img-fluid">
                    }
                    else if (content.Contains("youtube.com") || content.Contains("youtu.be"))
                    {
                        var videoId = Regex.Match(content, @"(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})").Groups[1].Value;
                        <iframe width='560' height='315' src='https://www.youtube.com/embed/@videoId' frameborder='0' allowfullscreen></iframe>
                    }
                    else
                    {
                        @Html.Raw(content)
                    }
                </p>
            </div>

            @if (isCurrentUser)
            {
                <div class="d-flex justify-content-end">
                    <div>
                        <button type="button" class="btn btn-outline-primary" onclick="openEditModal(@Model.Id)"><i class="bi bi-pencil-square"></i> Edit</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-danger" onclick="deleteMessage(@Model.Id)"><i class="bi bi-trash"></i> Sterge</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
