@{
    ViewData["Title"] = "Home Page";
    var searchTerm = Context.Request.Query["searchTerm"].ToString();
    var filteredFriends = ((IEnumerable<AplicatieMDS.Models.UserFriend>)ViewBag.Friends)
        .Where(uf => (uf.UserId == ViewBag.UserCurent ? uf.Friend.UserName : uf.User.UserName)
        .Contains(searchTerm, StringComparison.OrdinalIgnoreCase));
}

<div class="d-flex justify-content-center w-100">
    <div style="width:550px;height:700px;background-color:#4E5D6C;">
        <!-- Search bar -->
        <form method="get" action="@Url.Action("Index", "Home")" class="p-3" id="searchForm">
            <span class="relative" style="position:relative;">
                <img src="~/Images/search.svg" alt="Avatar" width="30px" height="30px" style="position:absolute;right:10px;top:3px;opacity:50%; margin-left:3px;color:gray;" />
                <input type="text" name="searchTerm" class="form-control" placeholder="Search friends..." style="padding-left:10px;padding-right:40px;border-radius:20px;" value="@searchTerm" onkeydown="if(event.key === 'Enter') this.form.submit();" />
            </span>
        </form>

        @if (filteredFriends.Any())
        {
            <ul class="list-group">
                @foreach (var friendRelation in filteredFriends)
                {
                    var friend = friendRelation.UserId == ViewBag.UserCurent ? friendRelation.Friend : friendRelation.User;
                    var chat = ((IEnumerable<AplicatieMDS.Models.Chat>)ViewBag.Chats).FirstOrDefault(c => (c.CurrentUserId == friend.Id && c.FriendUserId == ViewBag.UserCurent) || (c.FriendUserId == friend.Id && c.CurrentUserId == ViewBag.UserCurent));

                    if (chat != null)
                    {
                        var lastMessage = chat.LastMessage?.Content;
                        var lastMessageDate = chat.LastMessage?.Date;
                        var displayMessage = lastMessage != null && lastMessage.Length > 20 ? lastMessage.Substring(0, 20) + "..." : lastMessage;

                        <li onclick="loadChatMessages(@chat.Id)" class="d-flex justify-content-between list-group-item" style="cursor:pointer;border-bottom:1px solid #0F2537;">
                            <div class="d-flex align-items-center">
                                <span class="d-flex justify-content-center align-items-center" style="border-radius:50%; background-color:white; height:50px; width:50px; overflow:hidden">
                                    <img src="~/Images/user.svg" alt="Avatar" width="50px" height="50px" />
                                </span>
                                <span style="margin-left:20px;">
                                    <strong>@friend.UserName</strong><br />
                                    @displayMessage - @lastMessageDate?.ToString("g")
                                </span>
                            </div>
                        </li>
                    }
                }
            </ul>
        }
        else
        {
            <span class="d-flex justify-content-center w-100">
            <p class="">You have no friends added.</p>
            </span>
        }
    </div>

    <div class="d-flex flex-column" style="min-width:50%;max-width:50%;height:700px;max-height:screen;background-color:#4E5D6C;">
        <div id="chatMessages" class="card" style="height:600px; overflow-x:hidden;">
            <!-- Aici vor fi încărcate mesajele de chat -->
        </div>

        <div id="messageForm">
            <!-- Aici va fi încărcat formularul de trimitere a mesajelor -->
        </div>
    </div>
</div>

<div id="editMessageModalContainer"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#messageInput").emojioneArea({
                pickerPosition: "bottom"
            });
        });

        function loadChatMessages(chatId) {
            $.ajax({
                url: '@Url.Action("GetChatMessages", "Home")',
                type: 'GET',
                data: { chatId: chatId },
                success: function (data) {
                    $('#chatMessages').html(data);
                    loadMessageForm(chatId); // Încarcă formularul de trimitere a mesajelor
                    markMessagesAsSeen(chatId); // Marchez mesajele ca fiind văzute
                    scrollToBottom(); // Derulează automat la încărcarea mesajelor
                },
                error: function () {
                    alert('Failed to load chat messages.');
                }
            });
        }

        function loadMessageForm(chatId) {
            $.ajax({
                url: '@Url.Action("LoadMessageForm", "Home")',
                type: 'GET',
                data: { chatId: chatId },
                success: function (data) {
                    $('#messageForm').html(data);
                    const emojiPicker = document.querySelector("#emojiPicker");
                    const emojiButton = document.querySelector("#emojiButton");
                    const messageInput = document.querySelector("#messageInput");

                    emojiButton.addEventListener("click", function () {
                        emojiPicker.style.display = emojiPicker.style.display === "none" ? "block" : "none";
                    });

                    emojiPicker.addEventListener("emoji-click", function (event) {
                        const emoji = event.detail.unicode;
                        messageInput.value += emoji;
                        emojiPicker.style.display = "none";
                    });
                },
                error: function () {
                    alert('Failed to load message form.');
                }
            });
        }

        function markMessagesAsSeen(chatId) {
            $.ajax({
                url: '@Url.Action("MarkMessagesAsSeen", "Home")',
                type: 'POST',
                data: { chatId: chatId },
                success: function () {
                    console.log('Messages marked as seen');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    alert('Failed to mark messages as seen.');
                }
            });
        }


        function sendMessage(form) {
            $.ajax({
                url: '@Url.Action("SendMessage", "Home")',
                type: 'POST',
                data: $(form).serialize(),
                success: function (data) {
                    $('#chatMessages').append(data); // Adaugă mesajul nou în lista existentă
                    form.reset(); // Resetează formularul
                    scrollToBottom(); // Derulează automat la adăugarea unui mesaj nou
                },
                error: function () {
                    alert('Failed to send message.');
                }
            });
            return false; // Previne reîncărcarea paginii
        }

        function openEditModal(messageId) {
            $.ajax({
                url: '@Url.Action("LoadEditMessageForm", "Home")',
                type: 'GET',
                data: { id: messageId },
                success: function (data) {
                    $('#editMessageModalContainer').html(data);
                    $('#editMessageModal').modal('show');
                },
                error: function () {
                    alert('Failed to load edit form.');
                }
            });
        }

        function saveEditMessage() {
            var form = $('#editMessageForm');
            $.ajax({
                url: '@Url.Action("EditMessage", "Home")',
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    var messageId = $(data).filter('.message').data('message-id');
                    $('#chatMessages .message[data-message-id="' + messageId + '"]').replaceWith(data);
                    $('#editMessageModal').modal('hide');
                    scrollToBottom(); // Derulează automat la editarea unui mesaj
                },
                error: function () {
                    alert('Failed to save message.');
                }
            });
        }

        function deleteMessage(messageId) {
            if (confirm('Ești sigur că vrei să ștergi acest mesaj?')) {
                $.ajax({
                    url: '@Url.Action("DeleteMessage", "Home")',
                    type: 'POST',
                    data: { id: messageId },
                    success: function () {
                        $('#chatMessages .message[data-message-id="' + messageId + '"]').remove();
                    },
                    error: function () {
                        alert('Failed to delete message.');
                    }
                });
            }
        }

        function scrollToBottom() {
            var chatMessages = document.getElementById('chatMessages');
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }
    </script>
}

